.link {
	color: var(--theme-a-4);
	text-decoration: underline;

	&:hover {
		color: var(--theme-a-3);
		text-decoration: none;
	}
}

.grey {
	color: var(--utility-neutral-70);

	&:hover {
		color: var(--utility-neutral-90);
	}
}
