@use '@styles/mixins.scss' as *;

.button {
	@include buttons;
	
	border-radius: var(--border-radius-s);

	.innerButton {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	@include mobile-100-w;
}
