.tab {
	background-color: var(--utility-neutral-05);
	border: 1px solid var(--utility-neutral-20);
	border-bottom: 2px solid var(--utility-neutral-20);
	border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
	color: var(--theme-a-4);
	font-size: clamp(.8rem, 2vw + 0.5rem, 1.15rem);
	font-weight: 700;
	padding: var(--spacing-xs) var(--spacing-s);

	&:hover {
		color: vvar--(theme-a-3);
	}

	@media (max-width: 500px) {
		display: block;
		border: none;
		border-right: 2px solid var(--utility-neutral-20);
		padding: 12px var(--spacing-s);
	}
}

.tab[aria-selected="true"] {
	background-color: transparent;
	border: 2px solid var(--utility-neutral-30);
	border-bottom: none;
	color: var(--utility-neutral-80);

	@media (max-width: 500px) {
		border: 2px solid var(--utility-neutral-20);
		border-right: none;
		border-radius: var(--border-radius-s) 0 0 var(--border-radius-s);
	}
}
